.btn {
  border-width: 2px;
}
body {
  font-family: 'Lexend', sans-serif;
}
.display-1 {
  font-family: 'Lexend', sans-serif;
  font-size: 4.4rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.5rem;
}
.display-2 {
  font-family: 'Lexend', sans-serif;
  font-size: 2.8rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.5rem;
}
.display-4 {
  font-family: 'Lexend', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Lexend', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.25rem;
}
.display-7 {
  font-family: 'Lexend', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.625rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.52rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.08rem;
    font-size: calc( 2.19rem + (4.4 - 2.19) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.19rem + (4.4 - 2.19) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.24rem;
    font-size: calc( 1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.04rem;
    font-size: calc( 1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #56667b !important;
}
.bg-success {
  background-color: #274c77 !important;
}
.bg-info {
  background-color: #6096ba !important;
}
.bg-warning {
  background-color: #a3cef1 !important;
}
.bg-danger {
  background-color: #8b8c89 !important;
}
.btn-primary {
  background-color: #56667b !important;
  background: linear-gradient(90deg, #56667b 0%, #e7ecef 100%);
  border: none;
  transition: all 0.3s;
}
.btn-primary,
.btn-primary:active {
  background-color: #56667b;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #323c48;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #323c48;
}
.btn-primary:hover {
  transform: translateY(-3px);
}
.btn-secondary {
  background-color: #e7ecef !important;
  background: linear-gradient(90deg, #e7ecef 0%, #e7ecef 100%);
  border: none;
  transition: all 0.3s;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #e7ecef;
  color: #567181 !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #b3c3cc;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #567181 !important;
  background-color: #b3c3cc;
}
.btn-secondary:hover {
  transform: translateY(-3px);
}
.btn-info {
  background-color: #6096ba !important;
  background: linear-gradient(90deg, #6096ba 0%, #e7ecef 100%);
  border: none;
  transition: all 0.3s;
}
.btn-info,
.btn-info:active {
  background-color: #6096ba;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #3b6988;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #3b6988;
}
.btn-info:hover {
  transform: translateY(-3px);
}
.btn-success {
  background-color: #274c77 !important;
  background: linear-gradient(90deg, #274c77 0%, #e7ecef 100%);
  border: none;
  transition: all 0.3s;
}
.btn-success,
.btn-success:active {
  background-color: #274c77;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #122236;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #122236;
}
.btn-success:hover {
  transform: translateY(-3px);
}
.btn-warning {
  background-color: #a3cef1 !important;
  background: linear-gradient(90deg, #a3cef1 0%, #e7ecef 100%);
  border: none;
  transition: all 0.3s;
}
.btn-warning,
.btn-warning:active {
  background-color: #a3cef1;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #58a6e6;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #58a6e6;
}
.btn-warning:hover {
  transform: translateY(-3px);
}
.btn-danger {
  background-color: #8b8c89 !important;
  background: linear-gradient(90deg, #8b8c89 0%, #e7ecef 100%);
  border: none;
  transition: all 0.3s;
}
.btn-danger,
.btn-danger:active {
  background-color: #8b8c89;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #60605e;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #60605e;
}
.btn-danger:hover {
  transform: translateY(-3px);
}
.btn-white {
  background-color: #fafafa !important;
  background: linear-gradient(90deg, #fafafa 0%, #e7ecef 100%);
  border: none;
  transition: all 0.3s;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa;
  color: #7a7a7a !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf;
}
.btn-white:hover {
  transform: translateY(-3px);
}
.btn-black {
  background-color: #232323 !important;
  background: linear-gradient(90deg, #232323 0%, #e7ecef 100%);
  border: none;
  transition: all 0.3s;
}
.btn-black,
.btn-black:active {
  background-color: #232323;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000;
}
.btn-black:hover {
  transform: translateY(-3px);
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #56667b;
  color: #56667b;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #323c48 !important;
  background-color: transparent!important;
  border-color: #323c48 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #56667b !important;
  border-color: #56667b !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #e7ecef;
  color: #e7ecef;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #b3c3cc !important;
  background-color: transparent!important;
  border-color: #b3c3cc !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #567181 !important;
  background-color: #e7ecef !important;
  border-color: #e7ecef !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #6096ba;
  color: #6096ba;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #3b6988 !important;
  background-color: transparent!important;
  border-color: #3b6988 !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #6096ba !important;
  border-color: #6096ba !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #274c77;
  color: #274c77;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #122236 !important;
  background-color: transparent!important;
  border-color: #122236 !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #274c77 !important;
  border-color: #274c77 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #a3cef1;
  color: #a3cef1;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #58a6e6 !important;
  background-color: transparent!important;
  border-color: #58a6e6 !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #a3cef1 !important;
  border-color: #a3cef1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #8b8c89;
  color: #8b8c89;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #60605e !important;
  background-color: transparent!important;
  border-color: #60605e !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #8b8c89 !important;
  border-color: #8b8c89 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #56667b !important;
}
.text-secondary {
  color: #e7ecef !important;
}
.text-success {
  color: #274c77 !important;
}
.text-info {
  color: #6096ba !important;
}
.text-warning {
  color: #a3cef1 !important;
}
.text-danger {
  color: #8b8c89 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #2c343f !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #aabcc6 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #0e1b2a !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #36617e !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #4a9fe4 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #585956 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #fafafa !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #56667b;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #6096ba;
}
.alert-warning {
  background-color: #a3cef1;
}
.alert-danger {
  background-color: #8b8c89;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #56667b;
  border-color: #56667b;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #56667b;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #99a6b8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #568ac8;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b9d1e1;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #cacbca;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Lexend', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #56667b !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Lexend', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #56667b;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #56667b;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #56667b;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #56667b;
  border-bottom-color: #56667b;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #56667b !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #e7ecef !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2356667b' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
html,
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 445px) {
  .container-banner {
    height: 11.5rem!important;
  }
}
.cid-tex4Ibi2qe {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #274c77;
}
.cid-tex4Ibi2qe .mbr-overlay {
  backdrop-filter: blur(3.5px);
}
.cid-tex4Ibi2qe img {
  transform: scale(2) translateX(-2rem);
  z-index: 0;
  border-radius: 30px;
}
@media (max-width: 992px) {
  .cid-tex4Ibi2qe img {
    transform: scale(1) translateX(0);
  }
}
.cid-tex4Ibi2qe .card-wrapper {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
  backdrop-filter: blur(3.5px);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 6rem 3rem;
  margin: 0;
  z-index: 1;
  overflow: visible;
  position: relative;
  justify-content: center;
}
@media (max-width: 767px) {
  .cid-tex4Ibi2qe .card-wrapper {
    padding: 2rem 1rem;
  }
}
.cid-tex4Ibi2qe .card-wrapper:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.3;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border: 2px solid white;
  border-radius: 30px;
}
@media (max-width: 992px) {
  .cid-tex4Ibi2qe .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tex4Ibi2qe .col-12 {
  position: relative;
}
.cid-tex4Ibi2qe .round {
  position: absolute;
  top: -60px;
  right: -150px;
  width: 280px;
  height: 280px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
  backdrop-filter: blur(3.5px);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  z-index: 2;
}
@media (max-width: 767px) {
  .cid-tex4Ibi2qe .round {
    top: -30px;
    right: -110px;
    width: 180px;
    height: 180px;
  }
}
.cid-tex4Ibi2qe .round:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.3;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border: 2px solid white;
  border-radius: 50%;
}
.cid-tex4Ibi2qe .round2 {
  top: auto;
  right: auto;
  bottom: -30px;
  left: -30px;
  width: 120px;
  height: 120px;
  z-index: 0;
}
.cid-tex4Ibi2qe .mbr-section-title {
  color: #263d5a;
}
.cid-tex4Ibi2qe .mbr-text,
.cid-tex4Ibi2qe .mbr-section-btn {
  color: #263d5a;
}
.cid-tex4Ibi2qe .mbr-section-subtitle {
  color: #263d5a;
}
.cid-tex4oXDlhm {
  z-index: 1000;
  width: 100%;
}
.cid-tex4oXDlhm nav.navbar {
  position: fixed;
}
.cid-tex4oXDlhm .navbar-nav {
  margin: auto;
}
.cid-tex4oXDlhm .dropdown-item {
  color: #000000 !important;
  border-bottom: 1px solid #e6e6e6;
}
.cid-tex4oXDlhm .dropdown-item:hover,
.cid-tex4oXDlhm .dropdown-item:focus {
  background: #56667b !important;
  color: white !important;
}
.cid-tex4oXDlhm .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tex4oXDlhm .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tex4oXDlhm .navbar-short,
.cid-tex4oXDlhm .opened {
  background: #ffffff !important;
  opacity: 0.8;
  transition: all 0.3s;
}
.cid-tex4oXDlhm .navbar-short .nav-link,
.cid-tex4oXDlhm .opened .nav-link,
.cid-tex4oXDlhm .navbar-short .navbar-caption,
.cid-tex4oXDlhm .opened .navbar-caption,
.cid-tex4oXDlhm .navbar-short .mbr-iconfont,
.cid-tex4oXDlhm .opened .mbr-iconfont {
  color: #000000 !important;
}
.cid-tex4oXDlhm .navbar-short .hamburger span,
.cid-tex4oXDlhm .opened .hamburger span {
  background-color: #000000 !important;
}
.cid-tex4oXDlhm .nav-link {
  transition: all 0.3s;
  position: relative;
}
.cid-tex4oXDlhm .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tex4oXDlhm .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tex4oXDlhm .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tex4oXDlhm .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tex4oXDlhm .container {
  display: flex;
  margin: auto;
}
.cid-tex4oXDlhm .iconfont-wrapper {
  color: #ffffff !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tex4oXDlhm .dropdown-menu,
.cid-tex4oXDlhm .navbar.opened {
  background: #ffffff !important;
}
.cid-tex4oXDlhm .nav-item:focus,
.cid-tex4oXDlhm .nav-link:focus {
  outline: none;
}
.cid-tex4oXDlhm .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tex4oXDlhm .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tex4oXDlhm .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tex4oXDlhm .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tex4oXDlhm .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tex4oXDlhm .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tex4oXDlhm .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  position: absolute;
  background: rgba(255, 255, 255, 0);
}
.cid-tex4oXDlhm .navbar.opened {
  transition: all 0.3s;
}
.cid-tex4oXDlhm .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tex4oXDlhm .navbar .navbar-logo img {
  width: auto;
}
.cid-tex4oXDlhm .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tex4oXDlhm .navbar.collapsed {
  justify-content: center;
}
.cid-tex4oXDlhm .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tex4oXDlhm .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-tex4oXDlhm .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tex4oXDlhm .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tex4oXDlhm .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tex4oXDlhm .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tex4oXDlhm .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tex4oXDlhm .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tex4oXDlhm .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tex4oXDlhm .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tex4oXDlhm .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tex4oXDlhm .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tex4oXDlhm .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tex4oXDlhm .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tex4oXDlhm .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tex4oXDlhm .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tex4oXDlhm .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tex4oXDlhm .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tex4oXDlhm .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-tex4oXDlhm .navbar.navbar-short {
  min-height: 60px;
}
.cid-tex4oXDlhm .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tex4oXDlhm .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tex4oXDlhm .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tex4oXDlhm .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tex4oXDlhm .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tex4oXDlhm .dropdown-item.active,
.cid-tex4oXDlhm .dropdown-item:active {
  background-color: transparent;
}
.cid-tex4oXDlhm .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tex4oXDlhm .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tex4oXDlhm .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tex4oXDlhm .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-tex4oXDlhm .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tex4oXDlhm .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tex4oXDlhm ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tex4oXDlhm .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tex4oXDlhm button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tex4oXDlhm button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-tex4oXDlhm button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tex4oXDlhm button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tex4oXDlhm button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tex4oXDlhm button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tex4oXDlhm nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tex4oXDlhm nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tex4oXDlhm nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tex4oXDlhm nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tex4oXDlhm .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tex4oXDlhm a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tex4oXDlhm .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tex4oXDlhm .navbar {
    height: 70px;
  }
  .cid-tex4oXDlhm .navbar.opened {
    height: auto;
  }
  .cid-tex4oXDlhm .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tex4yirH0k {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #e7ecef;
}
.cid-tex4yirH0k img {
  border-radius: 30px;
}
.cid-tex4yirH0k .my-auto {
  margin-bottom: 0!important;
}
.cid-tex4yirH0k .card-wrapper {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
  backdrop-filter: blur(3.5px);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 4rem 3rem;
  margin: 0;
  z-index: 1;
  overflow: visible;
  position: relative;
  justify-content: center;
}
@media (max-width: 767px) {
  .cid-tex4yirH0k .card-wrapper {
    padding: 2rem 1rem;
  }
}
.cid-tex4yirH0k .card-wrapper:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.3;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border: 2px solid white;
  border-radius: 30px;
}
@media (max-width: 992px) {
  .cid-tex4yirH0k .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tex4yirH0k .mbr-section-title {
  color: #263d5a;
}
.cid-tex4yirH0k .mbr-text,
.cid-tex4yirH0k .mbr-section-btn {
  color: #263d5a;
}
.cid-tex4yirH0k .mbr-section-subtitle {
  color: #263d5a;
}
.cid-sz59VlvkYW {
  padding-top: 4rem;
  padding-bottom: 3rem;
  background-color: #131729;
}
.cid-sz59VlvkYW .social-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.cid-sz59VlvkYW .wrapper {
  max-width: 350px;
}
.cid-sz59VlvkYW .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #5e71db;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-sz59VlvkYW .soc-item a {
  padding: 1rem;
}
@media (max-width: 992px) {
  .cid-sz59VlvkYW .social-row {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .cid-sz59VlvkYW .row {
    text-align: center;
  }
  .cid-sz59VlvkYW .social-row {
    justify-content: center;
  }
}
.cid-sz59VlvkYW .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-sz59VlvkYW .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sz59VlvkYW .list {
    margin-bottom: 0rem;
  }
}
.cid-sz59VlvkYW .mbr-text {
  color: #ffffff;
}
.cid-sz59VlvkYW .mbr-iconfont {
  color: #ffffff;
  font-size: 1rem;
}
.cid-sz59VlvkYW .mbr-section-subtitle {
  color: #bbbbbb;
}
.cid-sz59VlvkYW .phone {
  color: #5e71db;
}
